*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    background-color: white;
}

h1{
    text-align: center;
    margin-top: 30px;
    font-size: 70px;
}

.logo {
    display: flex;
    width: 100%;
    align-items: center;
}

.logo h1 {
    text-align: center;
    font-size: 50px;
}

.logo img{
    width: 200px;
}

.botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.botonAvion {
    width: 200px;
    height: 150px;
    border: solid 2px;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.botonAvion a {
    text-decoration: none;
    font-size: 30px;
    width: 100%;
    height: 100%;
    text-align: center;

    display: flex;
    justify-content: center; 
    align-items: center;  
}

#ryaner a:hover {
  background-color: blue;
  color: white;
}

#binter a:hover {
  background-color:chartreuse;
  color: white;
}

#iberia a:hover {
  background-color: red;
  color: white;
}